name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python3 -m pip install build
      - name: Build
        run: |
          python3 -m build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@@v1.12.4
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}